.user-table {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-left: 10px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.search-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  position: relative;
}

.search-input {
  width: 200px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px 0 0 4px;
  outline: none;
  transition: border-color 0.3s ease;
}

.search-input:focus {
  border-color: #007bff;
}

.usersearch-btn {
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: #fff;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.usersearch-btn:hover {
  background-color: #0056b3;
}

.sort-container {
  position: relative;
  display: inline-block;
}

.sort-btn {
  padding: 10px 20px;
  border: none;
  background-color: #28a745;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 10px;
  position: relative;
}

.sort-btn:hover {
  background-color: #218838;
}

.sortfrom {
  display: flex;
  gap: 10px;
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 5px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  z-index: 1;
}

.AZ-btn {
  padding: 1px 20px;
  border: none;
  background-color: #17a2b8;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 70px;
}
.block-btn {
  background: #007bff;
}

.AZ-btn:hover {
  background-color: #138496;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

thead th {
  background-color: #f2f2f2;
  padding: 10px;
  text-align: left;
}

tbody td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

tbody tr:hover {
  background-color: #f1f1f1;
}

img {
  border-radius: 50%;
}
.delete-btn {
  background-color: #fefefe;
  color: #ed1717;
  width: 60px;
}
.delete-btn:hover {
  background-color: white;
}
.edit-btn {
  color: black;
  background-color: white;
  width: 60px;
}
.edit-btn:hover {
  background-color: white;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.page-btn {
  padding: 10px 15px;
  border: none;
  background-color: #007bff;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  margin: 0 5px;
  transition: background-color 0.3s ease;
}

.page-btn:hover {
  background-color: #0056b3;
}

.page-btn.active {
  background-color: #0056b3;
  pointer-events: none;
}

