.side-container {
  width: 250px;
  height: 100%;
  background-color: #333;
  color: #fff;
  position: fixed; 
  left: 0;
  top: 0;
  padding-top: 20px;
}

.btn {
  display: none; 
}

ul {
  list-style-type: none;
  padding: 0;
  margin-top: 20px; 
}

li {
  padding: 15px;
  font-size: 18px;
  border-bottom: 1px solid #444;
  cursor: pointer; 
}

li:hover {
  background-color: #555;
}
