body {
  font-family: Arial, sans-serif; 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  
}

.adminlogin-container {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
  margin: 20px;
}

.input-group {
  margin-bottom: 20px;
  text-align: left;
}

.input-group h4 {
  margin-bottom: 5px;
  color: #333;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  font-size: 16px;
}

.input-group input:focus {
  outline: none;
  border-color: #4a00e0;
  box-shadow: 0 0 5px rgba(74, 0, 224, 0.2);
}

.login-btn {
  text-align: center;
  margin-top: 20px;
}

.login-btn button {
  background-color: #4a00e0;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.login-btn button:hover {
  background-color: #8e2de2;
}
